body {
	font-size:13px;
}
.ui-margin-top-xs {margin-top:4px;}
.ui-margin-top-sm {margin-top:8px;}
.ui-margin-top {margin-top:16px;}
.ui-margin-top-lg {margin-top:32px;}

.ui-margin-right-xs {margin-right:4px;}
.ui-margin-right-sm {margin-right:8px;}
.ui-margin-right {margin-right:16px;}
.ui-margin-right-lg {margin-right:32px;}

.ui-margin-bottom-xs {margin-bottom:4px;}
.ui-margin-bottom-sm {margin-bottom:8px;}
.ui-margin-bottom {margin-bottom:16px;}
.ui-margin-bottom-lg {margin-bottom:32px;}

.ui-margin-left-xs {margin-left:4px;}
.ui-margin-left-sm {margin-left:8px;}
.ui-margin-left {margin-left:16px;}
.ui-margin-left-lg {margin-left:32px;}

::selection {background-color:#005599; color:#FFF;}
::-moz-selection {background-color:#005599; color:#FFF;}

.topHeader {
	background-color:#4d4e53;
	height:44px; padding:6px 0;
}
.header {
	border-bottom: 1px solid #e9e9e8;
	 position: fixed; width:100%; top:0; z-index: 999999;
}
footer {
	background-color:#4d4e53; min-height:50px; position:fixed; bottom:0; width:100%;
}
.navigation {
	background-color:#FFFFFF;
}
.navigation .nav-pills {
	margin-left:-15px;
} 

.navigation .nav-pills > li > a {
	border-radius:0;
	color:#383838; font-size:1.2em; font-weight:bold;
}
.navigation .nav-pills > li.active > a {
	background-color: transparent; color: #999999;
}
#iframe-content {
	width:100%; border:0; margin-top:115px;
}
#main {
	background-color:#FFFFFF;
	padding:30px 0 80px;
}
.mainNav {
	background-color:#FFFFFF;
	border-bottom:1px solid #E9E9E9; margin-bottom:30px;
}
.mainNav  h1 {
	padding-left:15px;
	color:#FFFFFF; font-size:1.2em;
}
.mainNav div.dropdown-menu {
	padding-bottom:10px;
}
.mainNav ul.dropdown-menu {
	width:auto; padding-bottom:5px;
}
.mainNav .navbar {
	min-height:30px; margin-left:-15px;
}
.mainNav .nav > li > a {
	padding: 20px 15px;
	font-weight:500; font-size:1.2em;
}
.mainNav .nav-pills > li > a, .mainNav ul.dropdown-menu > li > a {
	padding:5px 15px; border-radius: 0; border-right:3px solid #383838;
	font-size: 0.9em; 
	/*color:#FFFFFF;*/
	-webkit-transition: background-color ease-in-out 0.15s;
          transition: background-color ease-in-out 0.15s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
	color: #4d4e53;
}
.mainNav .nav-pills > li.active > a, .mainNav ul.dropdown-menu > li.active > a {
	background-color:#0073EA; color:#4d4e53;
}
.mainNav .nav-pills > li:hover > a , .mainNav ul.dropdown-menu > li:hover > a{
	background-color:#999999;
}
.mainNav .nav-pills > li > a > span, .mainNav ul.dropdown-menu > li > a > span {
	margin-right:10px;
}

.ui-required {
	color: #FF0000; font-size: 0.8em;
}
.ui-optional {
	color: #005599; font-size: 0.8em;
}
.input-group-btn .btn {
	height:28px; padding-top:0; padding-bottom:0 !important;
	border-color:#CCCCCC;
	font-size:0.8em; background-color:#FFFFFF; cursor:pointer; color:#383838;
	-webkit-transition: border-color ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s;
}
input:focus + .input-group-btn > .btn   {
	border-color:#005599;
}

.input-group-btn .btn:hover {
	background-color:#005599; color:#FFFFFF;
}
.box {
	margin-bottom:10px; padding-top: 7px; padding-bottom:10px; border:1px solid #e3e3e3; border-radius:5px;
	background-color:#FFFFFF;
}
.box.active{
	border-color:#005599;
}
.box h4 {
	padding-bottom:5px; border-bottom:1px solid #e3e3e3;
	font-size:1em; font-weight:normal; text-transform: uppercase;
}
.box h4.middle {
	padding-top:15px;
	border-top:1px solid #e3e3e3;
}
.ui-addItem {
	margin-bottom:10px;
}
.ui-addItem .btn.btn-block {
	border-style: dashed;
}
.ui-addItem .example {
display:none;
}
.ui-addItem .box {
position:relative;
}
.ui-addItem h4 span, h2 button{
	color:#CCCCCC; font-size:1em; cursor:pointer; margin-top:-3px;
}
.ui-addItem h4 span {
	margin-right:15px;
}
.ui-addItem h4 span:hover, h2 button:hover {
color:#F00;
}
.btn-bar {
	position:relative; display:none;
	padding-top:10px; border-top:1px dotted #CCCCCC; margin-bottom:30px;
}
.box .btn-bar {
	margin-bottom:10px;
}
.taskbar {
	display:block; clear:both;
	margin-top:32px;
}
h2 button {
	border:0; background-color:transparent
}

.ui-search  > .dropdown-menu {
	right:0; left:auto;
	width:inherit; border-radius:4px; padding:15px; border: 1px solid #0073EA;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0 0 7px #999999;
	-moz-box-shadow: 0 0 7px #999999;
	box-shadow: 0 0 7px #999999;
}


.ui-search  > .dropdown-menu label {
	display:block;
}
.ui-search .btn:last-child {
 margin-left:-5px;
}

.table span.label.label-danger, .table span.label.label-info, .table span.label.label-warning {
	width:100%; display:block; cursor:default;
}
.popover.description h4 span.label.label-danger, .popover.description h4 span.label.label-info, .popover.description h4 span.label.label-warning {
	width:50%; display:block; margin-right:15px; text-transform:none; font-weight:300; font-size:12px;
}

.sidePagination {
	position:relative; margin:15px 0 0 0; width:auto; left:auto; bottom: auto; text-align:left;
}
h4 .sidePagination {
	margin:0;
}
.sidePagination li {
	border-color:#CCCCCC;
}
.sidePagination li.active, .sidePagination li:hover {
	background-color:#005599;
}


.topHeader .container>.user-links{list-style:none;margin:10px 0;font-size:0.9em} 
.topHeader .container>.user-links>li{float:left !important;margin:0 10px;color:#fff} 
.topHeader .container>.user-links>li .quick-access{border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer} 
.topHeader .container>.user-links>li .quick-access>a {color:#fff;display:block;padding:1px 3px;text-decoration:none}
.topHeader .container>.user-links>li .quick-access>a span {margin:0 8px;font-size:1.2em;position:relative;top:2px}
.topHeader .container>.user-links>li .quick-access>a:hover span {margin:0 8px;font-size:1.2em;position:relative;top:2px color: #CC092F;}
.topHeader .container>.user-links>li .quick-access:hover, .header .topHeader .container>.user-links>li .quick-access.open{background-color:#f4f3f2} 
.topHeader .container>.user-links>li .quick-access:hover>a, .header .topHeader .container>.user-links>li .quick-access.open>a{color:#4d4e53} 
.topHeader .container>.user-links>li .quick-access:hover>a .icon-flash, .header .topHeader .container>.user-links>li .quick-access.open>a  .glyphicon{color:#cc092f}
.topHeader .container>.user-links>li>a{color:#fff;text-decoration:none} 
.header .topHeader .container>.user-links>li>a.config{font-size:1.85em;margin-top:2px;display:block} 
.topHeader .container>.user-links>li>a.config:hover{color:#f4f3f2}
.topHeader .container>.user-links>li:first-child{margin-top:4px}

/*.container{padding-top:30px}header>.container h1{font-family:'newjune-bold',Arial,Helvetica,sans-serif;color:#4d4e53}header>.container h1 i{margin:10px 10px 0 0}
.container nav.most-visited{margin:0 30px 0 0}header>.container nav.most-visited h3{font-size:1.3em;margin-top:0;line-height:100%}
.container nav.nav-primary{margin-top:30px;position:relative;font-size:1.2em}header>.container nav.nav-primary a{color:#939393;display:block;font-weight:600;float:left !important;padding-bottom:25px !important;outline:none}header>.container nav.nav-primary a+a{padding:0 20px}
.container nav.nav-primary a:first-child{padding-right:20px}
.container nav.nav-primary a:hover{color:#0072c1 !important}
.container nav.nav-primary a.active{color:#4d4e53 !important;text-decoration:none}
.container nav.nav-primary .arrow-nav{position:absolute;bottom:-1px}*/

h1 {
	font-size:2.3em; font-weight: 300;
}
.box h4 {
	padding-bottom:15px; margin-left:-15px; margin-right:-15px; padding-left:15px;
	font-weight: 600;
}

.list-services{margin-bottom:30px;margin-top:20px;display:block;overflow:hidden}
.list-services li{display:block;float:left !important}
.list-services li a{cursor:default;color:#939393;font-size:1.1em;padding:0 20px;opacity:.5;filter:alpha(opacity=50)}
.list-services li a span{display:block;margin-left:auto;margin-right:auto;margin-bottom:10px; font-size:2em; color:#AAAAAA;}
.list-services li a:hover,.list-services li a:focus{color:#939393;background:none !important}
.list-services li.active a{cursor:pointer;color:#00539f;opacity:1;filter:alpha(opacity=100)}
.list-services li.active a:hover span{color:#00539f;}
.list-services li.active a:hover,.list-services li.active a:focus{color:#0072c1;background:none !important}
.list-services li.active a:hover .icons-produto,.list-services li.active a:focus .icons-produto{background-position:0 -26px}
.list-services li.active a:hover .icons-cotacao,.list-services li.active a:focus .icons-cotacao{background-position:-45px -26px}
.list-services li.active a:hover .icons-emissao,.list-services li.active a:focus .icons-emissao{background-position:-94px -26px}
.list-services li.active a:hover .icons-vigencia,.list-services li.active a:focus .icons-vigencia{background-position:-137px -26px}
.list-services li.active a:hover .icons-sinistro,.list-services li.active a:focus .icons-sinistro{background-position:-182px -26px}
.list-services li:first-child a{padding-left:0}

.header>.container {
	padding:20px 0;
}
.header>.container .quick-search fieldset legend {
	font-size:1.3em;
}
.topHeader > .container > a.logo {
	display:block; float:left;
	height:30px; line-height:30px;
}
.topHeader > .container > a.logo > span {
	display:inline-block;
	border-left:1px solid #FFFFFF; padding-left:10px; height:30px; margin-left:5px;
	color:#FFFFFF; font-size:1.2em; line-height:30px;
}


.form-control {font-size:13px;}

.nav-pills > li > a {
	border-radius:0;
	color:#00539F;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:#0072c1; color:#FFFFFF;
}

.light-gray {
	background-color:#E9E9E8; color:#999;
}

.label-lg, .light-gray {
	font-size:13px; font-weight:normal;
}
table span.label.label-lg.label-danger, table span.label.label-lg.label-warning {
	display:inline-block; width:auto;
}

.systemMenu {
	background-color:#FFFFFF;
}
.systemMenu .nav > li > a {
	font-size:30px; line-height:50px; color:#939393;
}

.nav-tabs > li > a {
	font-size:1em; font-weight:600; text-transform: uppercase;
}
h1, h2,h3,h4,h5,h6 {
	text-rendering: optimizelegibility;
}
.badge.badge-default {
	background-color:#00539F; color:#FFFFFF; font-weight:300;
}
.title-link {
	text-transform:none; margin-right:20px;
}

h3 {
	clear:both;
	margin-top:20px; border-bottom:1px solid #4d4e53;
	font-size:1.15em; line-height:150%; padding-bottom:5px;
}
/*.modal-dialog {
	margin-top:150px;
}*/
.modal-body {
	background-color:#E9E9E9
}



.popover {
	-moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}
.popover.description {
	max-width: none; left:0; width: 510px;
}
.popover.description .table {
	background-color:none !important;
}
.popover.description .panel-footer {
	padding:0;
}
.popover.description .panel-footer .btn-edit {
	border-right:1px solid #CCCCCC; border-radius: 0; color:#005599; background-color:#FFFFFF;
}
.popover.description .panel-footer .btn-edit:hover, .postControls .btn-edit:hover {
	color:#FFFFFF; background-color:#0073EA;
}
.popover .nav li {
	border-bottom:1px dotted #CCCCCC;
}
.popover.description .panel-footer .btn-edit.btn-primary {
	background-color:#00539F; color:#FFFFFF;
}
.ui-remove:hover {
	font-weight:600;
}

.bullet {
	display:inline-block;
	width: 7px; height:7px; border-radius:3px; margin-right:10px;
	border:1px solid #383838;
	/*background-color:#383838;*/
}
.bullet-default {
	background-color:#0073EA;
}
.bullet-success {
	background-color:#5cb85c;
	border-color:#999999;
}
.disabled .bullet, .bullet-disabled {
	/*background-color:#999999;*/
	border-color:#999;
}
.active > a > .bullet {
	/*background-color:#FFFFFF;*/
	border-color:#FFF;
}

.box ul.nav li img {
	margin-right:10px;
}

.box ul.nav {
	margin:0 -15px;
}
.box ul.nav li ul {
	border-bottom: 1px solid #CCCCCC; margin:0;
}
.box ul.nav li a {
	color: #383838;
	line-height: 30px;
	font-size: 0.85em;
}
.box ul.nav li.disabled > a {
	color:#999999;
}
.box ul.nav li.active > a {
	color:#FFFFFF;  background-color:#0072c1;
}
.box ul.nav li a:hover {
	background-color:#E3E3E3;
}
.box ul.nav li a span.caret {
	margin-top:10px;
}
.box ul.nav li ul li a{
	padding-left:50px;
}
.box ul.nav li ul li a.active {
	color:#00539F;
}
.box ul.nav li ul li a.active > .bullet {
	background-color:#0073EA;
}

.box ul.nav.nav-tabs-primary {
	margin-top:-8px;
}
.box ul.nav.nav-tabs-primary li a {
	margin-right:0
}
.box ul.nav.nav-tabs-primary li:first-child a {
	border-left: 0;
	border-top: 0;
	margin-top: 1px;
	font-size: 0.85em;
}
.box ul.nav-tabs-primary li.active > a {
	color:#383838; background-color:#FFFFFF;
}
.box ul.nav-tabs-primary li > a > .badge {
	margin-top:5px;
}
.box ul.nav-tabs-primary li.active > a > .badge {
	background-color:#059;
}

.dashboard p {
	margin-bottom:0;
}
.dashboard .progress {
	height:10px; border-radius: 2px;
}


.doclist {
	margin:0 -15px;
}
.doclist li a {
	border-bottom:1px #000000;
}


.steps {
	display:inline-block;
	width:100%; position:relative; padding:0 20px; margin-bottom:5px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.steps > .stepBackground {
	float:left;
	width:100%; height:20px; border:1px solid #bdc3c8; margin: 10px 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	-webkit-box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3); -moz-box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3); box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3);
    background-color:#d7dfe4;
}
.steps > .step {
	position:absolute; z-index:1; top:0; 
	height:40px; width:40px; border-radius:20px; border:1px solid #bdc3c8;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	-webkit-box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3); -moz-box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3); box-shadow: inset 0px 1px 2px rgba(160, 160, 160, 0.3);
	background-color:#d7dfe4;
}

.steps > .step > a {
	display:block; height:30px; width:30px; border-radius:15px; border: 1px solid #CCCCCC; cursor: pointer;
	background-color:#CCCCCC; margin:4px; color:#999999; font-size:14px; line-height:30px; text-align:center;
	-webkit-box-shadow: inset 0px 1px 1px rgba(256, 256, 256, 0.9); -moz-box-shadow: inset 0px 1px 1px rgba(256, 256, 256, 0.9); box-shadow: inset 0px 1px 1px rgba(256, 256, 256, 0.9);
}
.steps > .step.active > a {
	background-color:#0073EA; color:#FFFFFF;
}
.steps > .step.success > a {
	background-color:#5CB85C; color:#FFF;
}
.steps > .step.warning > a {
	background-color:#CC092F; color:#FFF;
}
.steps > .step > a:hover {
	background-color:#0072C1; color:#FFFFFF;
}

.btn-seemore {
	border: 2px dashed #d1d1d1; background-color:#FFFFFF; color:#00539F;
}
.btn-seemore:hover {
	background-color:#E3E3E3; color: #0073EA;
}

.ui-actions {
	position:absolute; z-index:2; left:-5px; top:0; display:none;
	min-width:200px; padding:10px; border-radius:5px;
	background-color: #0072C1;
}
.ui-actions span {
	color: #FFFFFF; margin-bottom:10px;
}
.ui-actions hr {
	margin: 10px 0;
	border-color:#005599;
}
.ui-actions .glyphicon.glyphicon-remove {
	cursor:pointer;
}

.box hr {
	margin:20px -15px;
	border-color:#E3E3E3;
}

h2 {
	font-size:1.3em;
	font-weight: 600;
	border-bottom:0;
}
.box h2 {
	margin-top:0;
}
.ui-aprove .btn-success, .ui-aprove .btn-danger {

}
.ui-aprove .btn-success:focus, .ui-aprove .btn-warning:focus, .ui-aprove .btn-danger:focus {
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3); 
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.ui-aprove .btn-success {
	background-color:#b8e1b8; border-color:#a0d0a0;
}
.ui-aprove .btn-success:focus {
	background-color:#47a447; border-color:#398439;
}
.ui-aprove .btn-warning {
	background-color:#eeca96; border-color:#e9a646;
}
.ui-aprove .btn-warning:focus {
	background-color:#f0ad4e; border-color:#eea236;
}
.ui-aprove .btn-danger {
	background-color:#ffa8ab; border-color:#e09896;
}
.ui-aprove .btn-danger:focus {
	background-color:#d2322d; border-color:#ac2925;
}

table.table-pendencias span.label.label-lg {width: 100%;}
.ui-scrollable {overflow-y:scroll;}

.modal-header.ui-tabs {
	padding-bottom:0;
}
.modal-header.ui-tabs > h4 {
	margin-bottom:0;
}
.modal-header.ui-tabs .nav {
	margin-top:10px;
}
.modal-header.ui-tabs .nav-tabs > li > a {
	font-size:0.7em;
}
.panel-group .panel-heading {
	border-bottom:1px solid #DDDDDD;
}
.ul-timeline {
	padding-left:0;	
}
.ul-timeline > li {
	position:relative;
	list-style:none;
	background: url("../images/bg_historico.gif") repeat-y top left;
	padding-left:20px; padding-bottom:10px; margin-bottom:0;
}
.ul-timeline > li:last-child {
	background: transparent;
}
.ul-timeline li > .hist-bullet {
	display:block; position:absolute; z-index:1; top:0; left:0;
	width:10px; height:10px; border-radius:5px; border:1px solid #005599;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color:#E9E9E9;
}
.ul-timeline li > .hist-bullet.hist-bullet-primary {
	background-color:#005599;
}
.ul-timeline li > .hist-header {
	margin-top:0; border-bottom:1px solid #383838; padding-bottom:10px;
}
.ul-timeline li > h5 {
	
}
.dropdown .btn-default:hover, .btn-default:focus {
	border-radius:3px 3px 0 0;
}
table .dropdown-menu {
	width: auto; margin-top:0; border-radius:0 5px 5px 5px;
	padding:5px;
	background-color:#E9E9E9; border: 1px solid #CCCCCC;
	-webkit-box-shadow: 0 0 7px #999999;
	-moz-box-shadow: 0 0 7px #999999;
	box-shadow: 0 0 7px #999999;
}
div .dropdown-menu {
  width: auto;
  margin-top: 0;
  border-radius: 0 5px 5px 5px;
  padding: 5px;
  background-color: #E9E9E9;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 0 7px #999999;
  -moz-box-shadow: 0 0 7px #999999;
  box-shadow: 0 0 7px #999999;



table .dropdown-menu li.breaker {
	margin-top:5px; padding-top:5px;
	border-top:1px solid #CCCCCC;
}
div .dropdown-menu li.breaker {
	margin-top:5px; padding-top:5px;
	border-top:1px solid #CCCCCC;
}

table .dropdown-menu li > a {
	padding:5px 20px;
	color:#005599;
}

div .dropdown-menu li > a {
	padding:5px 20px;
	color:#005599;
}

table .dropdown-menu li > a.btn-danger {
	color:#FFFFFF;
}

div .dropdown-menu li > a.btn-danger {
	color:#FFFFFF;
}

.modal-footer.box {
	margin-bottom:0;
}

table.insideTable {
	margin-bottom:0;
}
table.insideTable thead tr {
	-webkit-box-shadow:inset 0px 3px 3px #999999;
}
table.insideTable td, table.insideTable th {
	background-color:#f4f3f2;
}
table.table td.content-cell {
	padding:0;
}
.has-error {
	color:#FF0000;
}
.has-error input {
	border-color:#FF0000;
}
.form-group p {
	margin-bottom:0;
}
.text-success {
	color:#0e9b29;
}
.form-group p {color:#828282;}
.form-group p strong {font-weight:normal;}
.form-group p.text-warning, .text-warning {color:#e2991a;}

.mensagens {
  width: 100%;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  margin: -15px 0 15px 0;
}
.mensagens .icone{ height:28px; width: 28px; display: block; float: left;}
.mensagens.vermelha .icone{background: #a93538 url(../images/ico_msg_error.png) 10px 4px no-repeat;}
.mensagens .texto{margin:6px 0 0 10px;  float: left;}
