.label-warning2 {
  background-color: #005599;
}


.box ul.nav-tabs-primary li.active > a > .badge2 { 
  background-color:#CB0E09;
}

a {
  color: #383838;
  text-decoration: none;
}

.badge2 {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  border-radius: 10px;
}

.badge2:empty {
  display: none;
}

a.badge2:hover,
a.badge2:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.list-group-item.active > .badge2,
.nav-pills > .active > a > .badge2 {
  color: #428bca;
  background-color: #ffffff;
}

.nav-pills > li > a > .badge2 {
  margin-left: 3px;
}
.list-group-item > .badge2 {
  float: right;
}

.list-group-item > .badge2 + .badge2 {
  margin-right: 5px;
}

.box ul.nav-tabs-primary li > a > .badge2 {
  margin-top:5px;
}

.btn-default2 {
  color: #CB0E09;
  background-color: #FFFFFF;
  border-color: #CB0E09;
}

.progress-bar2{
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #CB0E09;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.btn-primary2, .btn-default2:active {
  color: #ffffff;
  background-color: #CB0E09;
  border-color: #CB0E09;
}

.btn-seemore2 {
  border: 2px dashed #d1d1d1; background-color:#FFFFFF; color:#d9534f;
}

.dropdown-menu2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width:970px;
  padding: 10px 0 0 0;
  margin: 2px 0 0;
  border-radius: 0 5px 5px 5px;
  font-size: 14px;
  list-style: none;
  background-color: #383838;
  background-clip: padding-box;
 }
 @media (min-width: 1200px) {
  .dropdown-menu2 {
    width:1170px;
  }
 }

.dropdown-menu2.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu2 .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #666666;
}

.dropdown-menu2 > li > a {
  display: block;
  padding: 10px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #FFFFFF;
  white-space: nowrap;
}

.dropdown-menu2 > li > a:hover,
.dropdown-menu2 > li > a:focus {
  color: #0073EA;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu2> .active > a,
.dropdown-menu2 > .active > a:hover,
.dropdown-menu2 > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.dropdown-menu2 > .disabled > a,
.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu2 {
  display: block;
}
table .dropdown-menu2 li > a {
  padding:5px 20px;
  color:#CB0E09;
}

table .dropdown-menu2 {
  width: auto; margin-top:0; border-radius:0 5px 5px 5px;
  padding:5px;
  background-color:#E9E9E9; border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 0 7px #999999;
  -moz-box-shadow: 0 0 7px #999999;
  box-shadow: 0 0 7px #999999;
}

.btn-defaultNoHoverRed:hover,
.btn-defaultNoHoverRed:focus,
.btn-defaultNoHoverRed.active,
.open .dropdown-toggle.btn-default {
  color: #CB0E09;
  background-color: #FFFFFF;
  border-color: #CB0E09;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FFFFFF;
  background-color: #285e8e;
  border-color: #285e8e;
}

.btn-default2hover {
  color: #d9534f;
  background-color: #FFFFFF;
  border-color: #CB0E09;
}

.btn-defaultNoHoverBlue{
  color: #000000;
  background-color:#FFFFFF;
  border-color:#000000;
}

.btn-defaultNoHoverBlue:hover{
  color: #000000;
  background-color:#FFFFFF;
  border-color:#000000;
}

.col-md-9resize {
    width: 82%;
}

.rowNewMargin {
  margin-right: -7px;
  margin-left: 13px;
}

.btn-defaultOnHoverRed{
  color: #059;
  background-color: #FFFFFF;
  border-color: #059;
}

.btn-defaultOnHoverRed:hover{
  color: #FFFFFF;
  background-color: #059;
  border-color: #059;
}

.btn-defaultOnHoverGray{
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
}

.btn-defaultOnHoverGray:hover{
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.btn-defaultOnHoverBlue2{
  color: #005599;
  background-color: #FFFFFF;
  border-color: #005599;
}

.btn-defaultOnHoverBlue2:hover{
  color: #FFFFFF;
  background-color: #005599;
  border-color: #005599;
}

p {
    color: #828282;
}
.mensagens .icone{ height:28px; width: 28px; display: block; float: left;}
.mensagens.vermelha .icone{background: #a93538 url(../../../img/ico_msg_error.png) 10px 4px no-repeat;}
.mensagens .texto{margin:6px 0 0 10px;  float: left;}



.dropdown-menu3 > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #000000;
  text-decoration: none;
  /* background-color: #428bca; */
  outline: 0;
}


.separator {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px 0 30px;
  width: 100%;
}