
.menuList {
    border-bottom: 18px solid #666666;
	margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	width: 95%;
}

.menuList a:link, .menuList a:visited	{
    background: #ffffff;
    border: 1px solid #666666;
    color: #666666;
    float: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    margin-right: 2px;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
}

.menuList a:link.active, .menuList a:visited.active	{
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #000000;
}

.menuList a:hover	{
    color: #666666;
	background: #eeeeee;
}

.menuList li.selected a {
    background: #666666!important;
    border-bottom: 1px solid #666666 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.menuList li.selected ul.submenu {
    display: block;
    position: absolute;
    margin: 17px 0 0 0px;
}

.menuList li.selected ul.submenu a {
    background: #ffffff;
    border: none;
    border-left: 1px solid #cccccc;
    color: #ffffff !important;
    font-size: 9px;
    font-weight: bold;
    line-height: 12px;
    margin-right: 2px;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
}

.menuList li.selected ul.submenu a.selected {
    background: transparent;
    color: #cccccc !important;
}

.menuList ul a:hover, .menuList ul.submenu a:hover {
    color: #ffffff !important;
	text-decoration: underline;
}

.menuList ul, .menuList li	{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuList ul.submenu {
    display: none;
    width: 90%;
}
