.obrigatorio{
	color: #F00;
	font-weight: bold;
}
.required{
	background: #FFDFE0;
	border: 1px solid #EFC2C4;
}
.tbl_msg_erro {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*font-weight: bold;*/
	border: #FFFFFF;
	color: #CC0000;
	text-align: center;
	vertical-align: 0%;
	/*background-color: #F7EAEA;*/
	padding-top: 5px;
	padding-bottom: 5px;
}