/*input[type=submit] {
	width: auto;
	height: auto;
}*/



.menuList {
	border-bottom: inherit;
	margin-top:15px;
}


input[type=radio] {
	border: none;
	display:inline;
	vertical-align: -12px !important;
} 