@charset "iso-8859-1";
/* CSS Document */

BODY
{
    FONT-SIZE: 16px;
    MARGIN: 0;
    COLOR: #636161;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H5
{
    FONT-WEIGHT: bold;   

    TEXT-ALIGN: left;
	color: #0071BB;	
}
H5 A:link
{
    COLOR: #0071BB;
    TEXT-DECORATION: underline;
}
H5 A:visited
{
	COLOR: #00539F;
    TEXT-DECORATION: underline;
}
H5 A:hover
{
    COLOR: #00539F;
    TEXT-DECORATION: none;
}
H5 A:active
{
    COLOR: #00539F;

    TEXT-DECORATION: none;
}
A:link
{
    COLOR: #00539F;    
    TEXT-DECORATION: underline;
}
A:visited
{
    COLOR: #00539F;
    TEXT-DECORATION: underline;
}
A:hover
{
    COLOR: #00539F;
    TEXT-DECORATION: none;
}
A:active
{
    COLOR: #00539F;    
    TEXT-DECORATION: none;
}
 INPUT
{
	height: 35px;
	background:#FCFCFC;
	border: 1px solid #B2B0B0;
	text-indent:2px;
	font-size:16px;
	color:#414343;
	line-height: 35px;
} 
input[type=checkbox] {
	border: none;
	display:inline
} 
input[type=radio] {
	vertical-align: middle;
	height: 20px;
}
input[type=submit] {
	background-color: #00539F;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
	font-weight: bold;
    height: 47px;
	width: 156px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	margin-left: 0;
	white-space:normal;
	cursor: pointer;
}
input[type=button] {
	background-color: #00539F;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
	font-weight: bold;
    height: 47px;
	width: 156px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	margin-left: 0;
	white-space:normal;
	cursor: pointer;
}
SELECT
{
	margin: 0;
	padding: 0;	
	background:#FCFCFC;
    border: 1px solid #B2B0B0;
	font-size:16px;
	color:#414343;
    height: 35px;
	vertical-align:middle;
	line-height: 35px;
	padding: 7px;
}
TEXTAREA
{
    BORDER-RIGHT: #7A7E7E 1px solid;
    BORDER-TOP: #7A7E7E 1px solid;   
    BORDER-LEFT: #7A7E7E 1px solid;
    COLOR: #7A7E7E;
    BORDER-BOTTOM: #7A7E7E 1px solid;
    BACKGROUND-COLOR: #FFFFFF
} 

TEXTAREA.novolayout{
    background-color: #FFFFFF;
    border-color: #B2B0B0;
    border-style: solid;
    border-width: 1px;
    color: #414343;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}
ul.semDecoracao li{
	list-style: none;
}

#tabela_principal
{
    MARGIN: 15px 10px 10px;
    WIDTH: 97%
}
#tabela_principal_cinza
{
    MARGIN: 15px 10px 10px;
    WIDTH: 97%
}
#tabela_principal_cinza INPUT[type="text"]
{
    COLOR: #4D4E53;
}
.tabela_principal
{
    MARGIN: 15px 10px 10px;
    WIDTH: 97%
}
.tabela_principal_cinza
{
    MARGIN: 15px 10px 10px;
    WIDTH: 97%
}
.td_table{
	padding-left: 20px;
}
.tabela_principal_cinza INPUT[type="text"]
{
    COLOR: #4D4E53;
}
#tabela_interna
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;
	border-collapse: collapse;
	border-bottom:#00539F solid;
	border-bottom-width: 1px;
	font-size: 16px;
}
#tabela_interna_cinza
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;
	border-collapse: collapse;
	border-bottom: #4D4E53 solid;
	border-bottom-width: 1px;
	font-size: 16px;
}
#tabela_interna_cinza INPUT[type="text"]
{
    COLOR: #4D4E53;
}
.tabela_interna
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;	
	border-collapse: collapse;
	border-bottom:#00539F solid;
	border-bottom-width: 1px;
	width: 1050px;
}
.tabela_interna_cinza
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;	
	border-collapse: collapse;
	border-bottom:#4D4E53 solid;
	border-bottom-width: 1px;
}

#tabela_interna TH /*definição  da cor mais escura do topo da tabela interna*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;   
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;    
    BACKGROUND-COLOR: #00539F;
    TEXT-ALIGN: center
}

.tabela_interna TH /*definição da cor mais escura do topo da tabela interna*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;    
    PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #00539F;
    TEXT-ALIGN: center;
    /* border-style: solid; */
    border-color: white;
}
#tabela_interna_cinza TH /*definição  da cor mais escura do topo da tabela interna*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;   
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;    
    BACKGROUND-COLOR: #4D4E53;
    TEXT-ALIGN: center
}

.tabela_interna_cinza TH /*definição da cor mais escura do topo da tabela interna*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;    
    PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #4D4E53;
    TEXT-ALIGN: center
}

TH{
	border-right: #ffffff solid;
	border-right-width:2px;
	
}
TD, TH {
	border-bottom: #FFFFFF solid;
	border-bottom-width: 2px;
	height: 45px;
}
#tabela_interna TR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #F5F5F5;
}
.tabela_interna TR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
	BACKGROUND-COLOR: #F5F5F5;
}
#tabela_interna_cinza TR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #F5F5F5;
}
.tabela_interna_cinza TR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
	BACKGROUND-COLOR: #F5F5F5;
}
#tabela_interna TR.off /*cores alternadas das linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FBFBFB;
}

.tabela_interna TR.off /*cores alternadas das linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FBFBFB;
}
#tabela_interna_cinza TR.off /*cores alternadas das linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FBFBFB;
}

.tabela_interna_cinza TR.off /*cores alternadas das linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FBFBFB;
}


#tabela_interna TR.grupo1 /*cores alternadas em um grupo de linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #F5F5F5;
}

#tabela_interna TR.grupo2 /*cores alternadas em um grupo de linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #Fbfbfb;
}
#tabela_interna_cinza TR.grupo1 /*cores alternadas em um grupo de linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #F5F5F5;
}

#tabela_interna_cinza TR.grupo2 /*cores alternadas em um grupo de linhas da tabela*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #Fbfbfb;
}

.td_label /*cor diferenciada para destacar o campo com o label*/
{
     /*BACKGROUND-COLOR: #eeeeee;*/
	/* COLOR: #00539F; */
	/*width: 15%;*/
}
.td_label_cinza /*cor diferenciada para destacar o campo com o label*/
{
     /*BACKGROUND-COLOR: #eeeeee;*/
	COLOR: #4D4E53;
	width: 15%;
}
.td_label_noWrap{
	white-space:nowrap
}
.td_dados /*cor diferenciada para destacar o campo com o dados*/
{
    FONT-WEIGHT: bold;
	COLOR: #636161;
}
#tabela_interna Td
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
	vertical-align:middle;
}
.tabela_interna Td
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
	vertical-align:middle;
	
}
#tabela_interna_cinza Td
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
	vertical-align:middle;
	color: #4D4E53;
}
.tabela_interna_cinza Td
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
	vertical-align:middle;
	color: #4D4E53;
}
#tabela_interna_cinza Td A
{
	color: #4D4E53;
}
.tabela_interna_cinza Td A
{
	color: #4D4E53;
}
#tabela_interna tr.link{ /*destacar uma linha da tabela quando passar o mouse sobre ela*/
	padding: 3px;
	background-color: #FFFFFF;
	/*color:#CC0000 /*vermelho médio - para alternar link das linhas da tabela*/
}
.tabela_interna tr.link{ /*destacar uma linha da tabela quando passar o mouse sobre ela*/
	padding: 3px;
	background-color: #FFFFFF;
	/*color:#CC0000 /*vermelho médio - para alternar link das linhas da tabela*/
}
#tabela_interna_cinza tr.link{ /*destacar uma linha da tabela quando passar o mouse sobre ela*/
	padding: 3px;
	background-color: #FFFFFF;
	/*color:#CC0000 /*vermelho médio - para alternar link das linhas da tabela*/
}
.tabela_interna_cinza tr.link{ /*destacar uma linha da tabela quando passar o mouse sobre ela*/
	padding: 3px;
	background-color: #FFFFFF;
	/*color:#CC0000 /*vermelho médio - para alternar link das linhas da tabela*/
}
#tabela_botoes /*os botões devem ser aplicados dentro dessa div*/
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 30px;
    TEXT-ALIGN: center
}
.tabela_botoes
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 30px;
    TEXT-ALIGN: center
}
.margem_botoes  /*os botões devem ter essa class*/
{
	margin: 0 10px 10px 10px;
}
button, .button{
	background-color: #00539F;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
	font-weight: bold;
    height: 47px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	margin-left: 0;
	cursor: pointer;
	min-width: 156px;
	/* overflow:visible; */
	padding-left: 5px;
	padding-right: 5px;
}
.buttonSecundario{
	background-color: #4D4E53;
}
#tabela_abas
{
    BORDER-RIGHT: #666666 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #666666 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #666666 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #666666 1px solid
}
.tabela_abas
{
    BORDER-RIGHT: #666666 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #666666 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #666666 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #666666 1px solid
}

.tabela_verm { /*tabela de erro*/
	font-weight: bold;
	border: #00539F;
	color: #CC0000;
	text-align: center;
	vertical-align: 0;
	background-color: #eeeeee;
}
.tabela_verm ul, .tabela_sucesso li {
	list-style: disc;
}

.tabela_verm li, .tabela_sucesso li{
	list-style: disc;
}
.tabela_sucesso { /*tabela de erro*/
	font-weight: bold;
	border: #00539F;
	color: #00539F;
	text-align: center;
	vertical-align: 0;
	background-color: #eeeeee;
}
/*classes*/

.estilo /*class para destacar alguma palavra, colocando em negrito*/
{
    FONT-WEIGHT: bold
}

.destaque /*class para destacar alguma palavra, colocando em vermelho*/
{
    COLOR: #cc0000
}
.obrigatorio /*aplicar nos * e na frase campo de preenchimento obrigatório*/
{
    font-size: 14px;
    COLOR: #cc0000;
    FONT-STYLE: italic;
	position:relative;
	top:-10px;
}
.subtitulo  /*no subtitulo deve ser aplicada essa classe*/
{
    color: #00539F;
    font-size: 16px;
    font-weight: bold;
}
.subtitulo_2  /*essa classe deve ser usada para subtitulo com preposições que vêm direto da tabela de dados*/
{
    FONT-WEIGHT: bold;

}
.capitalize { /*colocar a primeira letra maiuscula*/
	text-transform: capitalize;
}
.lowcap{ /*colocar a primeira letra minuscula*/
text-transform:lowercase;
}
.optionbutton {/*colocar o radio button transparente*/
	background: none;
}
.noborder
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;
    BORDER-BOTTOM: 0
}
IMG
{
    BORDER-RIGHT: 0;
    BORDER-TOP: 0;
    BORDER-LEFT: 0;
    BORDER-BOTTOM: 0
}
.fundo_branco
{
    BACKGROUND-COLOR: #ffffff
}
A.destaque:link
{
    COLOR: #ff0000;    
    TEXT-DECORATION: underline
}
A.destaque:visited
{
    COLOR: #ff0000;    
    TEXT-DECORATION: underline
}
A.destaque:hover
{
    COLOR: #ff0000;    
    TEXT-DECORATION: none
}
A.destaque:active
{
    COLOR: #ff0000;    
    TEXT-DECORATION: none
}
.usuario
{
    COLOR: #00539F;
    TEXT-INDENT: 10px;    
    LIST-STYLE-TYPE: square;
    TEXT-ALIGN: right
}
.layer
{
    BORDER-RIGHT: #373737 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ababab 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    FONT: 10px arial;
    BORDER-LEFT: #ababab 1px solid;
    PADDING-TOP: 5px;
}
.tabbar
{
    PADDING-RIGHT: 0;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 0;    
    PADDING-BOTTOM: 0;
    PADDING-TOP: 0;
	font-size:16px;
}
.tabbar UL
{
    PADDING-RIGHT: 0;
    DISPLAY: inline;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    LIST-STYLE-TYPE: none
}
.tabbar LI
{
    PADDING-RIGHT: 0;
    DISPLAY: inline;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    LIST-STYLE-TYPE: none
}
.tabbar A
{
    BORDER-RIGHT: #00539F 1px solid;
	BORDER-LEFT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
    COLOR: #00539F;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-size: 16px;
}
.tabbar A:hover
{
    BORDER-RIGHT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    BORDER-LEFT: #00539F 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #00539F;
    TEXT-DECORATION: underline
}
.tabbar A:active
{
    BORDER-RIGHT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    BORDER-LEFT: #00539F 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #00539F;
    TEXT-DECORATION: underline
}
.tabbar A.tabact
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BORDER-BOTTOM: #00539F 1px solid;
    BACKGROUND-COLOR: #00539F
}
.tabbar A.tabact:hover
{
    COLOR: white;
    BACKGROUND-COLOR: #00539F
}
.tabbar A.tabact:active
{
    COLOR: white;
    BACKGROUND-COLOR: #00539F
}
.tabbar_cinza
{
    PADDING-RIGHT: 0;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 0;    
    PADDING-BOTTOM: 0;
    PADDING-TOP: 0;
	font-size:16px;
}
.tabbar_cinza UL
{
    PADDING-RIGHT: 0;
    DISPLAY: inline;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    LIST-STYLE-TYPE: none
}
.tabbar_cinza LI
{
    PADDING-RIGHT: 0;
    DISPLAY: inline;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    LIST-STYLE-TYPE: none
}
.tabbar_cinza A
{
    BORDER-RIGHT: #4D4E53 1px solid;
	BORDER-LEFT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
    COLOR: #4D4E53;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-size: 16px;
}
.tabbar_cinza A:hover
{
    BORDER-RIGHT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    BORDER-LEFT: #4D4E53 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #4D4E53;
    TEXT-DECORATION: underline
}
.tabbar_cinza A:active
{
    BORDER-RIGHT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    BORDER-LEFT: #4D4E53 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #4D4E53;
    TEXT-DECORATION: underline
}
.tabbar_cinza A.tabact
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BORDER-BOTTOM: #4D4E53 1px solid;
    BACKGROUND-COLOR: #4D4E53
}
.tabbar_cinza A.tabact:hover
{
    COLOR: white;
    BACKGROUND-COLOR: #4D4E53
}
.tabbar_cinza A.tabact:active
{
    COLOR: white;
    BACKGROUND-COLOR: #4D4E53
}
.even {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #eeeeee;
}
.odd {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #dfdfdf;
}
.tabelatitulo{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: white;
    PADDING-TOP: 3px;    
    BACKGROUND-COLOR: #00539F;
    TEXT-ALIGN: center;
}
.tabelatitulo_cinza{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: white;
    PADDING-TOP: 3px;    
    BACKGROUND-COLOR: #4D4E53;
    TEXT-ALIGN: center;
}
.lista_div {/*pedido do Ramir*/
padding:0; 
width:.400px; 
height:52px; 
overflow:auto;
background-color: #eeeeee;
}

	.tabela_div{ /*pedido do Ramir*/		
		background-color: #eeeeee;
	}

.texto_msgTela
{
FONT-WEIGHT: bold;
COLOR: Red;
}

.texto_erro

{
FONT-WEIGHT: bold;
COLOR: Red;
}



/* PARA A APLICAÇÃO "CONSULTA EXPRESSA"*/
#id_tipo_extrato, #id-tipo-consulta, #id-extrato-comissoes{
      margin-left: 10px;
      width: 296px;
}
#conteudo{
      margin-top: 0;
}
.conExp_activity_pane TD {
      height: 25px;
}
.conExp_activity_pane TD  p{
      margin-top: 0;
}
.conExp_img_calendario {
      padding: 8px;
}
.conExp_tabela_instrucoes, .conExp_tabela_imagem_app, .conExp_tabela_resultado {
	WIDTH: 100%;
    FONT-WEIGHT: bold;
    COLOR: #00539F;
    text-align: left;
}
.conExp_tabela_instrucoes td, .conExp_tabela_instrucoes th {
    border-bottom: none;
    border-right: none;
	color: #0071BB;
	height: 16px;
}
.conExp_tabela_filtro {
    vertical-align: middle;
	color: #636161;
    font-size: 16px;
}
.conExp_tabela_filtro td, .conExp_tabela_resultado td {
	border-bottom: none;
    border-right: none;
	color: #636161;
    font-weight: bold;
}
.conExp_tabela_filtro td b, .conExp_tabela_resultado td b{
    color: #00539F;
    font-weight: normal;
}
.conExp_tabela_resultado th {
    border-bottom: none;
    border-right: none;
	color: #FFF;
	background-color: #00539F;
}
.conexp_tabela_periodo {
	min-width:280px;
}
tr.claro {
	background-color: #FBFBFB;
}
tr.escuro {
	background-color: #F5F5F5;
}
.conExp_tabela_outas_consultas {
    WIDTH: 100%;
    FONT-WEIGHT: bold;
    COLOR: #00539F;
}
.conExp_tabela_outas_consultas td {
    border-bottom: none;
    border-right: none;
    color: #636161;
    font-weight: bold;
    padding: 3px;
}
.conExp_tabela_outas_consultas td b{
    color: #00539F;
    font-weight: normal;
}
.conExp_tabela_outas_consultas th {
    border-bottom: none;
    border-right: none;
    color: #FFF;
    background-color: #00539F;
    padding: 3px
}
.conExp_multselect_cpd SELECT {
    height: 210px;
}
.conExp_multselect_cpd TD {
	 padding-left: 7px;

}
.box-menulat-tit {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 5px; 
	MARGIN: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 5px; 
	PADDING-TOP: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
}
.box-menulat-itens {
	TEXT-ALIGN: left; 
	PADDING-BOTTOM: 5px; 
	MARGIN: 0 5px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 5px; 
	PADDING-TOP: 5px
}
#conteudo_menu_lateral{
	WIDTH: 220px;
	top: 46px !important;
}
#menu_lateral {
	Z-INDEX: 0; POSITION: absolute; WIDTH: 220px; HEIGHT: 25px; TOP: 0; LEFT: 530px
}
#menu_lateral_asse {
	Z-INDEX: 0; POSITION: absolute; WIDTH: 220px; HEIGHT: 25px; TOP: 47px; LEFT: 530px
}	

.respiro-5 {
	color: #0071BB;
	font-size: 16px;
	font-weight: normal;
}
.respiro-5 a{
	text-decoration: none;
}

.bg-cinza-1 {
	background-color: #f5f5f5;
}

.infoseg_tabela_interna {
	font-size: 16px;
	color: #636161;
	font-weight: bold;
}

.infoseg_tabela_interna a {
	color: #636161;
	text-decoration: none;
}
.bg-roxo-2 {
	background-color: #00539F;
}
.box-menulat-itens a{
	color: #fff;
	text-decoration: none;
}
.conexp_button_custom {
    float: right;
	font-size: 12px;
	margin-right: 5px
}

.conexp_tabela_prestacao_pendente {
    margin-left: 10px;
   	width: 330px;
}

.conexp_tabela_extrato_consorcio {
    margin-left: 10px;
    width: 500px;
}

/*NOVA FUNCIONALIDADES*/

#caixaTelaInteira {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
#containerFiltroCotacao_show {
	width: 100%;
	position: relative;
	z-index: 10;
	border-top: 3px solid #E0DEDE;
}
#containerFiltroCotacao {
	width: 100%;
	position: relative;
	z-index: 10;
	display: none;
	border-top: 3px solid #E0DEDE;
}
#filtroCotacao {
	padding-left: 25px;
	MARGIN: 0;
	height: auto;
	width: 960px;
	position: relative;
	background-color:#F9F5F5;
}
.listStyleNone li {
	list-style: none ;
}
/* Definicao da lista onde estão inseridos os campos de filtro */
#filtroCotacao ul {
	list-style: none;
	padding: 0;
}
#filtroCotacao li {
	float: left;
}
/* Definicao dos campos */

.inputs.segurado {
	width: 480px;
}
/* Definicao do fundo do campo 'select' */
.caixa_tipofiltro_corretor_template {
	position: relative;
	left: -30px;
}
.caixa_tipofiltro_corretor {
	position: relative;
    height: 45px;
    width: 540px;
	padding: 18px 0 18px 25px;
}
.caixa_tipofiltro_corretor.curto {
	width: 370px;
	*width: 330px;
}
.caixa_tipofiltro_corretor.selecionado {
	background-color: #F3EFEF;
}
.caixa_tipofiltro_corretor.curto .inputs {
	width: 300px;
	*width: 250px;
}

/* Definicao do campo 'select' */
.caixa_tipofiltro_corretor  select{
	font-size: 16px;
	color:#414343;
    height: 39px;
    width: 480px;
	line-height: 39px;
}
@-moz-document url-prefix() {
    .caixa_tipofiltro_corretor select {
        padding-top: 9px;
    }
}
/* Definicao do texto exibido acima do campo 'select' */
.caixa_tipofiltro_corretor p {
	font-size: 14px;
	font-weight: bold;
	color: #0071BB;
	margin: 0;
	padding: 15px 0 8px 0;
}
.botao_radio {
	float: left;
	background:#F3F2F2 url(../imagens/radio_nao_selecionado.png) no-repeat;
	height: 30px;
	width: 31px;
	margin: 5px 10px;
}
.caixa_tipofiltro_corretor.selecionado .botao_radio {
	background:#F3F2F2 url(../imagens/radio_selecionado.png) no-repeat;
}

/* Definição dos campos de calendário em seção separada mais abaixo */

/* Definicao especifica para os campos posicionados abaixo */

/* Definicao da div que posiciona os botoes */
.botoes {
	width: 100%;
	margin: 20px 0;
	height: 50px;
}
/* Definicao da lista onde estão inseridos os botões */
.botoes ul {
	list-style: none;
	padding: 0;
	float: right;
	margin-right: 200px;
}
.botoes li {
	float: left;
	padding: 0 30px 0 0;
}
/* Definicao da aparência dos botões */
.botao{
	font-size: 15px;
	font-weight:bold;
	text-transform: uppercase;		
	color: #FFFFFF;
	height: 47px;
	width: 156px;
	cursor: pointer;
	background-color: #00539F;
    border: none;
    height: 47px;
    text-align: center;
    text-decoration: none;
	margin-left: 0;
	min-width: 156px;
	overflow:visible;
	padding-left: 3px;
	padding-right: 3px;
}
/* Definicao da cor do botão 'Consultar' */
.botao.consultar {
	background: #00539F;
}
/* Linha horizontal vermelha (limite inferior do filtro) */
#linhaHorizVermelha {
	width: 100%;
	height: 3px;
	background-color: #CD1F31;
	position: relative;
	z-index: 20;
}
#linhaHorizVermelha .puxador {
	position: absolute;
	display: inline-block;
	/* background-color: #CD1F31; */
	background: url(../imagens/bt_filtro.png) no-repeat;
	width: 92px;
	height: 29px;
	line-height: 29px;
	left: 650px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.puxador_down {
	position: absolute;
	display: inline-block;	
	background: url(../imagens/bt_filtro_down.png) no-repeat !important;
	width: 92px;
	height: 29px;
	line-height: 29px;
	left: 650px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
#linhaHorizVermelha .puxador p {
	position: relative;
	display: inline;
	margin: 5px;
	color: #FFFFFF;
	font-size: 20px;
}
#resultadosCotacao {
	position: relative;
	width: 960px;
	margin: 0 20px;
	
	FONT-SIZE: 12px;
    padding: 40px 0 1px 0;
    COLOR: #1E4D77 ;
    FONT-FAMILY: Arial;
	z-index: 100;
}

/*
 * Tabela de Resultados
 * */
/* Definicao da tabela */

/* Definicao da cor amarela ao passar o mouse */
.tabela_selecao TR:hover {
	background-color: #FFD;
}
/* Definicao da borda azul 'bottom' das linhas */
.tabela_selecao TD, .tabela_selecao TH {
	border-bottom: #1E4D77 thin solid;
	padding: 20px;
}
 /* Definicao da cor mais escura do topo da tabela interna */

/* Definicao da div que exibirá o ícone 'Ações' */
#tabela_interna .acoes {
	background: url(../imagens/roldana_off.png) no-repeat;
	height: 18px;
    width: 18px;
	position: relative;	
	cursor:pointer;
}
/* Definicao do campo que descreve o conteúdo apresentado */	
#resultadosCotacao span.descricao_campo {	
	font-weight: bold;
	font-size: 16px;
	color: #656363;
}
/* Definicao do campo que apresenta o conteúdo 'dinâmico' */
#resultadosCotacao span.conteudo_campo {	
	font-size: 20px;
	color: #656363;
}
/* Definicao do campo que apresenta o intervalo da consulta */
#resultadosCotacao span.data_consulta {	
	font-size: 16px;
	color: #0071BB;
}
/* Definicao do campo que apresenta o total de registros encontrados */
#resultadosCotacao span.resultado_consulta {	
	font-size: 18px;
	font-weight: bold;
	color: #0071BB;
}
#resultadosCotacao .ui-selected {
	background-color: #FFD;
}
/* Definicao da cor do botão 'Nova Consulta' */
.botao.nova_consulta {
	background: #89898A
}
/* Definicao da cor do botão 'Nova Cotação' */
.botao.nova_cotacao {
	background: #00539F;
}

/*
 *
 * Menu Roldana
 *
 */
#caixa_ferramentas{
	position: absolute;
	display: none;
	z-index: 500;
}
.caixa_links_ferramentas{
	position:absolute;
	background-color: #fff;
	height:auto;
	width: 167px;
	border: #878686 thin solid;
	left: 8px;
	top: 46px;
	padding: 5px 0;
	
	/* Adaptações para IE */
	*top: 45px;
	*padding: 0;
}
.boxe_ferramentas{
	position:absolute;
	background-color: #fff;
	height:35px;
	width: 45px;
	border-top:#F3223B 2px solid;
	border-left:#878686 thin solid;
	border-right:#878686 thin solid;
	left:130px;
	text-align:center;
	padding-top:10px;
	cursor: pointer;
}
.boxe_ferramentas img{
	margin-left: 13px;
}
#caixa_ferramentas ul {
	list-style: none;
	padding: 0;
	
	/* Adaptações para IE 7 */
	*padding-left: 15px;
}
.caixa_links_ferramentas .ferramentas li {
	*margin-left: 0;
	list-style: none;
}
.caixa_links_ferramentas .ferramentas a{
	margin-right: 5px;
	line-height: 20px;
	text-decoration: none;
	color: #1E4D77;
	font-size: 12px;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:20px;
	
	/* Adaptações para IE 7 */
	*padding-left:0;
}
.caixa_links_ferramentas .ferramentas li:hover{
	margin: auto;
	background-color:#F8F7F7;
	list-style: none;
}
/*
 * Pop Calendario
 * Definicao da área e filtros
 * dos campos de Calendário 
 */
.posicao_calendario {
	float: left;
	height: 55px;
	font-size:16px;	
}
.calendario {
	height: 35px;
    width: 135px;
	background:#FCFCFC;
	border: 1px solid #B2B0B0;
	text-indent:2px;
	font-size:16px;	
	display: inline;
	vertical-align: middle;
}
.botaoCalend_template {
	background:#F3F2F2 url(../imagens/calendario.gif) no-repeat;
	height: 24px;
	width: 24px;
	cursor: pointer;
	position: absolute;
	top: 9px;
	*top: 13px;
	left: 110px;
}
.botaoCalend {
	background:#F3F2F2 url(../imagens/calendario.gif) no-repeat;
	height: 24px;
	width: 24px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	*top: 7px;
}
.botaoCalend.calendario1 {
    left: 353px;
	*left: 351px;
}
.botaoCalend.calendario2 {
    left: 507px;
}
.pop_calendario_box_relative {
	position: relative;
	z-index: 1000;
	left: 10px;
	top: 10px;
	padding-right: 10px;
}
.pop_calendario_box {
	position: absolute;
	z-index: 1000;
	left: 10px;
	top: 10px;
	padding-right: 10px;
}
.pop_calendario_box_interno{
	border: solid 1px #BEBDBD;
	border-top: solid 4px #CD2031;
	width: 250px;
}

.pop_calendario_box_interno table{
	border: 0;
}

.pop_calendario_box_interno tr{
	background-color: #FFF;
}

.pop_calendario_nav_mes{
	font-weight: bold;
	font-size: 14px;
	color: #0072BC;			
}

.pop_calendario_nav_mes a:link {
	text-decoration: none;
}
.pop_calendario_nav_mes a:visited {
	text-decoration: none;
}
.pop_calendario_nav_mes a:hover {
	text-decoration: none;
}

.pop_calendario_nav_mes_fecha{
	font-size: 12;
	vertical-align: top;
}

.pop_calendario_rotulo_semana td{
	margin-bottom:solid 1px #BEBDBD;		
	background-color:#f4e4e6;		
	color:#cd1f31;
	font-weight: bold;
	font-size: 12;
	text-transform:uppercase;
	height: 35px;
}

.pop_calendario_dias_mes {
	margin-top:solid 1px #BEBDBD;
	color:#6c7174;
	font-weight: bold;
	font-size: 15px;
}
.pop_calendario_dias_mes td{
	border-left:solid 1px #F4E4E6;
	border-bottom:solid 1px #F4E4E6;
	height: 24px;
	width: 20px;
}
.pop_calendario_dias_mes td:hover{
	color:#fff;
	background-color:#0072BC;		
	text-decoration: none;
}

.pop_calendario_dias_mes td:hover a{
	color:#fff;
	background-color:#0072BC;		
	text-decoration: none;
}

.pop_calendario_dias_mes a:link {
	color:#6C7174;
	text-decoration: none;
}

.pop_calendario_dias_mes a:visited {
	color:#6C7174;
	text-decoration: none;
}

.pop_calendario_dias_mes a:hover {
	color:#fff;
	background-color:#0072BC;		
	text-decoration: none;
}

.pop_calendario_nav_mes_item {
	font-size: 30;
}
.blocoInputCalendario_template {
    display: inline-block;
    position: relative;
    *display:inline;
    *zoom:1;
	padding-top: 4px
}
.blocoInputCalendario {
    display: inline-block;
    position: relative;
    *display:inline;
    *zoom:1;
}
.botaoCalend.dentroBlocoInput {
    right: 5px;
}
.td_label .obrigatorio { top:-3px;}
.td_dados img { vertical-align:middle; }
.td_dados input { vertical-align:middle; }

/* Classes da página de Download Auto, a pedido da Fernanda Figueiró
 * Adicionadas em 24/01/2014 */

.download-page .tabela_interna a{
display:inline !important;
}
.download-page .tabela_interna table a{
width: 85px;
}
.download-page .tabela_interna table a.link{
width: 230px;
}
.download-page .tabela_interna table table a{
width: 180px;
}
.download-page .tabela_interna img{
display:inline !important;
}

/*CABEÇALHO PARA TABELAS*/ /*30/01/2014*/
.th_titulos_tabelas{
	background-color: #F5F5F5 !important;
	color: #00539F !important;
	vertical-align: middle !important;
}
/* 26/02/2014
 * Solicitação de Auto */
.descricao_radio_inline_block {
	display: inline-block;
}

/* 	Remocao do fundo e das bordas para as 'tabelas' responsaveis por apresentar a paginacao
	06/10/2014
 */
.tabela_paginacao {
	border: none;	
}
 
.tabela_paginacao  TR {
	background-color: transparent;
}