.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

@media screen and (min-width: 768px)
bootstrap.min.css:149
.modal-dialog {
    width: 600px;
    padding-top: 200px;
    padding-bottom: 30px;
}
.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.bootstrap-dialog.type-primary .modal-header {
    background-color: #00539F;
}

.modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal-header {
    min-height: 16.428571429px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #00539F;
    color: #ffffff;
}

.modal-body {
    position: relative;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}