
.menuList {
	/* border-bottom: 18px solid #00539F; */  
	margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	width: 1048px;
}


.menuList a:link, .menuList a:visited	{
    BORDER-RIGHT: #00539F 1px solid;
	BORDER-LEFT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
	BORDER-TOP: #00539F 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #00539F;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-weight:bold;
	font-size: 16px;
}

.menuList a:link.active, .menuList a:visited.active	{
    BORDER-RIGHT: #00539F 1px solid;
	BORDER-LEFT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #00539F;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-size: 16px;
}

.menuList a:hover	{
    BORDER-RIGHT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    BORDER-LEFT: #00539F 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #00539F;
    TEXT-DECORATION: underline
}

.menuList li.selected a {
    BORDER-RIGHT: #00539F 1px solid;
	BORDER-LEFT: #00539F 1px solid;
    BORDER-TOP: #00539F 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #FFFFFF;
	font-weight:bold;
    BACKGROUND-COLOR: #00539F;
    TEXT-DECORATION: none;
	font-size: 16px;
}

.menuList li.selected ul.submenu {
    display: block;
    position: absolute;
    margin: 17px 0 0 0px;
}

.menuList li.selected ul.submenu a {
    background: #ffffff;
    border: none;
    border-left: 1px solid #cccccc;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin-right: 2px;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
}

.menuList li.selected ul.submenu a.selected {
    background: transparent;
    color: #cccccc !important;
}

.menuList ul a:hover, .menuList ul.submenu a:hover {
    color: #ffffff !important;
	text-decoration: underline;
}

.menuList ul, .menuList li	{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuList ul.submenu {
    display: none;
    width: 90%;
}


.menuListCinza {
    border-bottom: 18px solid #4D4E53;
	margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	width: 95%;
}

.menuListCinza a:link, .menuListCinza a:visited	{
    BORDER-RIGHT: #4D4E53 1px solid;
	BORDER-LEFT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
	BORDER-TOP: #4D4E53 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #4D4E53;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-weight:bold;
	font-size: 16px;
}

.menuListCinza a:link.active, .menuListCinza a:visited.active	{
    BORDER-RIGHT: #4D4E53 1px solid;
	BORDER-LEFT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #4D4E53;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
	font-size: 16px;
}

.menuListCinza a:hover	{
    BORDER-RIGHT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    BORDER-LEFT: #4D4E53 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #4D4E53;
    TEXT-DECORATION: underline
}

.menuListCinza li.selected a {
    BORDER-RIGHT: #4D4E53 1px solid;
	BORDER-LEFT: #4D4E53 1px solid;
    BORDER-TOP: #4D4E53 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    COLOR: #FFFFFF;
	font-weight:bold;
    BACKGROUND-COLOR: #4D4E53;
    TEXT-DECORATION: none;
	font-size: 16px;
}

.menuListCinza li.selected ul.submenu {
    display: block;
    position: absolute;
    margin: 17px 0 0 0px;
}

.menuListCinza li.selected ul.submenu a {
    background: #ffffff;
    border: none;
    border-left: 1px solid #cccccc;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin-right: 2px;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
}

.menuListCinza li.selected ul.submenu a.selected {
    background: transparent;
    color: #cccccc !important;
}

.menuListCinza ul a:hover, .menuListCinza ul.submenu a:hover {
    color: #ffffff !important;
	text-decoration: underline;
}

.menuListCinza ul, .menuListCinza li	{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuListCinza ul.submenu {
    display: none;
    width: 90%;
}
